*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-style: italic;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-style: italic;
    text-emphasis: 10;   
}
.cabecalho-reb{
    width:10%;
}

.sobre{
   
    text-emphasis-color:100 ;
    text-align: center;
    align-items: center;
    font-style: italic;

}

.imagemkombi{
    width: 15%;
}

.imagemprf{
    width: 20%;
}

.reb-div-conteudo{
    width: 35%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}